<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- -->
        <link rel="stylesheet" href="/css/codes_ejs.css">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <nav>
            <!--logo-->
            <a href="#" class="logo">
                <img src="https://tinyurl.com/y7yk7e7x"/>
            </a>
            <!--menu-btn----------->
            <input class="menu-btn" type="checkbox" id="menu-btn"/>
            <label class="menu-icon" for="menu-btn">
                <span class="nav-icon"></span>
            </label>
            <!--menu-->
            <ul class="menu">
                <li><a href="http://localhost:3000">home</a></li>
                <li><a href="#">code</a>
                    <ul class="dropdown__menu">
                        <li><form action="code_upload" method="POST"><button type="submit">upload</button></form></li>
                        <li><form action="code_purchase" method="POST"><button type="submit">purchase</button></form></li>
                    </ul>
                </li>
                <li><a href="#">course</a>
                    <ul class="dropdown__menu">
                        <li><form action="course_upload" method="post"><button type="submit">upload</button></form></li>
                        <li><form action="course_purchase" method="post"><button type="submit">purchase</button></form></li>
                    </ul>
                </li>
                <li><a href="#">Title</a></li>
                <li><a href="#">Title</a></li>
                <li><a href="#">Title</a></li>
                <li><a href="#">Title</a></li>
                <li><a href="#">Title</a></li>  
                <li><form action="course_upload" method="post"><button type="submit">logout</button></form></li>
            </ul>
        </nav>
        <div class="card">
        <% if(data.length){
            for(var i = 0;i < data.length;i++) { %>
            <div class="card_info">
              <img src="<%=data[i].image%>">
              <div class="title"><%=data[i].title%></div>
              <div class="creator"><%=data[i].creator%></div>
              <div class="rate"><%=data[i].rate%> start</div>
              <div class="price">&#8377;<%=data[i].price%></div>
              <form action="/code_info/<%=data[i].id%>" name="id" method="POST">
                <button type="submit" class="goto">go to</button>
              </form>
            </div>
        </div>
        <% }
    }else{%>
        <center><h1>No data</h1></center>    
    <%} %>
    </body>
</html>